body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: grey;
}

nav{
    /*background: darkgreen;*/
    padding: 12px;
    border-radius: 8px;
}
nav a{
    font-size: 25px;
    color: white!important;
}

.card-body{
    box-shadow: 15px 15px 0 black;
    text-shadow: 5px 5px 5px black;
    border-radius: 10px;
}
.card{
    border-radius: 10px;
}
